<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
    <dict>
      <key>frames</key>
      <dict>
        <key>new.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,984},{60,28}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{60,28}}</string>
          <key>sourceSize</key>
          <string>{60,28}</string>
        </dict>
        <key>item_private.png</key>
        <dict>
          <key>frame</key>
          <string>{{234,2},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
        <key>item_three.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,2},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
        <key>caption_more.png</key>
        <dict>
          <key>frame</key>
          <string>{{104,800},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>caption_private.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,942},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>caption_four.png</key>
        <dict>
          <key>frame</key>
          <string>{{110,884},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>caption_match.png</key>
        <dict>
          <key>frame</key>
          <string>{{104,842},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>caption_bug.png</key>
        <dict>
          <key>frame</key>
          <string>{{212,800},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>caption_three.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,900},{106,40}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{106,40}}</string>
          <key>sourceSize</key>
          <string>{106,40}</string>
        </dict>
        <key>item_more.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,268},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
        <key>item_match.png</key>
        <dict>
          <key>frame</key>
          <string>{{234,268},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
        <key>circle_new_icon.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,800},{100,98}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{100,98}}</string>
          <key>sourceSize</key>
          <string>{100,98}</string>
        </dict>
        <key>item_four.png</key>
        <dict>
          <key>frame</key>
          <string>{{2,534},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
        <key>item_bug.png</key>
        <dict>
          <key>frame</key>
          <string>{{234,534},{230,264}}</string>
          <key>offset</key>
          <string>{0,0}</string>
          <key>sourceColorRect</key>
          <string>{{0,0},{230,264}}</string>
          <key>sourceSize</key>
          <string>{230,264}</string>
        </dict>
      </dict>

      <key>metadata</key>
      <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>login_pin.png</string>
        <key>size</key>
        <string>{256,256}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:b804d81ceb130d0dc9118309081ae484$</string>
        <key>textureFileName</key>
        <string>login_pin.png</string>
      </dict>
    </dict>
  </plist>
